/* Các thuộc tính cơ bản có sẵn của website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    background: var(--text-color);
    color: var(--main-color);
}

html {
    font-family: 'Verdana','poppins', sans-serif;
    font-size: 62.5%;
}

:root {
    --bg-color: #151965;
    --second-bg-color: #32407B;
    --main-color: #515585;
    --text-color: #46B5D1; 
}


::-webkit-scrollbar {
    width: 0.8rem;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem;
}
::-webkit-scrollbar-track {
    background: var(--text-color);
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

/* Kết thúc các thuộc tính cơ bản của website */
/* Các thuộc tính phía bên phải của header */
.header_top {
    width: 100%;
    height: 13vh;
    position: fixed !important;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7rem;
    padding: 1.4rem 7rem;
    background: var(--second-bg-color);
    margin:auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.header_left {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 4rem;
    border-right: 3px solid var(--text-color);
}

.header_left img {
    width: 6rem;
    height: 3.5rem;
    display: block;
}

.header_left h2 {
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
    transition: 0.4s ease;
}

.header_left .TICUni_320px {
    display: none;
}

.header_left h2:hover {
    color: var(--main-color);
    transition: 0.4s ease;
    font-size: 2.5rem;
}
/* Các thuộc tính phía bên trái của header */

.header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -4rem;
    padding: 1rem;
    gap: 2rem;
    margin-top: 0.6rem;
}

#menu-icon {
    font-size: 3.4rem;
    display: none;
}

.menu-lists {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.8rem;
    gap: 4rem;
    padding-right: 4rem;
    margin-top: 0.6rem;
}

.menu-lists .list-item > a, li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.4s ease;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    padding-bottom: 0.6rem;
}
.list-item:hover > a {
    transition: 0.4s ease;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

/* Thanh dropdown của menu about */
/* .About > .material-symbols-outlined {
    transition: 0.4s ease;
}
.About:hover > .material-symbols-outlined {
    transform: rotate(180deg);
    transition: 0.4s ease;
} */
.About span {
    display: block;
    position: relative;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    padding-bottom: 0.6rem;
}
.dropdown {
    width: 20rem;
    top: 100%;
    position: absolute;
    padding: 1.2rem 0;
    list-style: none;
    display: none;
    border-radius: 1rem;
    line-height: 3.4rem;
    background: var(--main-color);
    transition: 0.4 ease;
}

.About:hover .dropdown {
    transition: 0.4 ease;
    display: block;
}
.item-dropdown {
    border-radius: 1.5rem;
    padding: 0.5rem 4rem;
    font-size: 1.4rem;
    transition: 0.4s ease;
}
.item-dropdown a {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}

.item-dropdown:hover {
    font-weight: 500;
    border-radius: 1.5rem;
    background: var(--bg-color);
    transition: 0.4s ease;
}
/* Tương thích với kích thước 768px */

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .menu-lists {
        display: none;
    }
    .header_top {
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
    }
    .header_left {
        border: 3px solid transparent;
    }
}

/* Tương thích   với màn hình 320px */
@media (max-width: 600px) {
    .header_left .TICUni_320px {
        display: block;
    }
    .header_left .TICUni_1024px {
        display: none;
    }

}
/* Quy định aside */
.sidebar {
    width: 22rem;
    height: 100vh;
    background: linear-gradient(-45deg, var(--bg-color),var(--second-bg-color));
    display: flex;
    flex-direction: column;
    z-index: -1;
    padding: 20px 0px 0 20px;
}

.scrollbox {
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;
    margin-top: 13vh;
}

.scrollbox::-webkit-scrollbar-track {
   background: transparent !important;
}
.scrollbox::-webkit-scrollbar {
    width: 0.6rem;
}

.scrollbox-inner,
.scrollbox:hover {
    visibility: visible;
}

.scrollbox-inner p {
    font-size: 1.4rem;
    color: var(--text-color);
}

/* Phần content bên trái */

.sidebar-content {
    margin-top: 13vh;
    position: fixed;
    top: 0;
    left: 22rem;
    width: calc(100vw - 22rem);
    height: 100%;
    background: linear-gradient(45deg, var(--bg-color), var(--second-bg-color));
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.scrollbox-content {
    overflow: auto;
    visibility: hidden;
}

.scrollbox::-webkit-scrollbar-track {
   background: transparent !important;
}

.scrollbox-content-inner,
.scrollbox-content:hover {
    visibility: visible;
}

.scrollbox-content-inner p {
    font-size: 1.6rem;
    color: var(--text-color);
}

.scrollbox-content-inner h3 {
    font-size: 2.5rem;
    color: var(--text-color);
}

/* Phần item thanh bên phải */

.title-item {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxitem {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 4.4rem;
}
.dropdown-list {
    padding: 1.3rem 0;
    border-radius: 1rem;
    background: var(--second-bg-color);
    display: none;
    transition: display 0.5s ease;
}

.dropdown-item > a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0rem 6rem;
    font-size: 1.4rem;
    line-height: 4rem;
    border-radius: 1.5rem;
    font-weight: 500;
    transition: 0.4s ease;
}

.dropdown-item > a:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    transition: 0.4s ease;
    border-radius: 2rem;
}
.boxitem:hover
.item
 {
    color: var(--main-color);
}
.material-symbols-outlined{
    cursor: pointer;
}
.boxitem:hover
.material-symbols-outlined {
    color: var(--main-color)
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

/* Phần nội dung content */

.page-1 {
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    opacity: 0.5;
}
.page-2 {
    width: 100%;
    height: 100vh;
    background: var(--second-bg-color);
    opacity: 0.5;
}

.breadcrumbs {
    width: 40rem;
    height: 5rem;
    border-bottom-right-radius: 4rem;
    display: none;
    padding: 4rem 4rem;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    box-shadow: 0 0 25px var(--second-bg-color);
}
.breadcrumbs img {
    width: 5.5rem;
    height: 3rem;
}
.breadcrumbs a {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
}